<div class="giscus"></div>
<script src="https://giscus.app/client.js"
        data-repo="flyhulatu/flyhulatu.github.io"
        data-repo-id="R_kgDOQm2RDQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOQm2RDc4CzsVd"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light_high_contrast"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<script>
  const giscusTheme = document.documentElement.getAttribute('data-theme') === 'dark' ? 'dark' : 'light';
  // 或使用 preferred_color_scheme 自动跟随
</script>