<!-- 引入 medium-zoom JS -->
<script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.1.0/dist/medium-zoom.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const zoom = mediumZoom('.post-content img', {
            margin: 24,       // 放大后距离屏幕边缘的距离
            background: '',   // 背景色我们用 CSS 控制（支持毛玻璃）
            scrollOffset: 0,  // 滚动多少距离就自动收回
        });

        // 适配 PaperMod 的暗黑模式切换
        const target = document.querySelector('body');
        const observer = new MutationObserver(() => {
            const isDark = target.classList.contains('dark');
            zoom.update({
                background: isDark ? 'rgba(28, 28, 30, 0.9)' : 'rgba(255, 255, 255, 0.9)'
            });
        });
        observer.observe(target, { attributes: true, attributeFilter: ['class'] });
    });
</script>


<!-- layouts/partials/extend_footer.html -->

<!-- 预加载加速 -->
<script src="https://instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84GO0uHryadeyJ+hyvNK71/a/pGn0Mod+" crossorigin="anonymous"></script>

<!-- 网站运行时间统计 -->
<script>
    function siteTime() {
        window.setTimeout("siteTime()", 1000);
        var seconds = 1000;
        var minutes = seconds * 60;
        var hours = minutes * 60;
        var days = hours * 24;
        var years = days * 365;
        var today = new Date();
        var todayYear = today.getFullYear();
        var todayMonth = today.getMonth() + 1;
        var todayDate = today.getDate();
        var todayHour = today.getHours();
        var todayMinute = today.getMinutes();
        var todaySecond = today.getSeconds();
        
        /* 请修改这里的建站时间 */
        var t1 = Date.UTC(2025, 12, 12); 
        
        var t2 = Date.UTC(todayYear, todayMonth, todayDate, todayHour, todayMinute, todaySecond);
        var diff = t2 - t1;
        var diffYears = Math.floor(diff / years);
        var diffDays = Math.floor((diff / days) - diffYears * 365);
        var diffHours = Math.floor((diff / (1000 * 60 * 60)) - (diffYears * 365 * 24) - (diffDays * 24));
        var diffMinutes = Math.floor((diff / (1000 * 60)) - (diffYears * 365 * 24 * 60) - (diffDays * 24 * 60) - (diffHours * 60));
        var diffSeconds = Math.floor((diff / 1000) - (diffYears * 365 * 24 * 60 * 60) - (diffDays * 24 * 60 * 60) - (diffHours * 60 * 60) - (diffMinutes * 60));
        
        document.getElementById("sitetime").innerHTML = "已运行 " + diffYears + " 年 " + diffDays + " 天 ";
    }
    siteTime();
</script>

<!-- 不蒜子统计 (中国大陆访问最快) -->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
