{{- with .Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <div class="home-info-content"> <!-- 新增包裹层 -->
        <header class="entry-header">
            <h1>{{ .Title | markdownify }}</h1>
        </header>
        <div class="entry-content">
            {{ .Content | markdownify }}
        </div>
        {{- partial "social_icons.html" . -}}
    </div>

    <!-- 新增头像区域 -->
    <div class="avatar-container">
        <img draggable="false" src="{{ "/images/avatar.png" | absURL }}" alt="avatar" />
    </div>
</article>
{{- end }}