{{- /* 1. 创建日期 (Date) */ -}}
{{- if not .Date.IsZero -}}
    <span title="{{ .Date.Format "2006-01-02 15:04:05" }}">
        {{- .Date | time.Format (default "2006-01-02" site.Params.DateFormat) -}}
    </span>
{{- end -}}

{{- /* 分隔符 */ -}}
&nbsp;·&nbsp;

{{- /* 2. 字数统计 (Word Count) */ -}}
<span>
    {{- i18n "words" .WordCount | default (printf "%d 字" .WordCount) -}}
</span>

{{- /* 分隔符 */ -}}
&nbsp;·&nbsp;

{{- /* 3. 浏览人数 (Busuanzi) */ -}}
<span id="busuanzi_container_page_pv">
    <span id="busuanzi_value_page_pv"></span> views
</span>